.password-ip{
    width: 90%;
    margin-bottom: 1.4em;
}
.password-icon{
    display: inline-flex !important; 
    align-self: center !important;
    margin-bottom: -5px !important;
}
.password-ip input{
    width: 80%;
    padding: 0.8em ;
    font-size: 1.5em;
    font-family: "Poppins";
    box-sizing: border-box;
    border: 2px solid #B2BEC3;
    border-radius: 0;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius:5px !important;
    border-right:none;
}

.password-ip input:focus{
    border: 2px solid #00b5ad;
    border-right:none;
    outline:none;
}
.copy-btn-div{
    display: inline-block;
    width: 20%;
}
.copy-btn{
    width: 100%; 
    padding: 0.8em 0;
    font-size: 1.5em;
    font-family: "Poppins";
    color: #ffffff;
    border: 2px solid #00b5ad;
    background-color: #00b5ad;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.copy-btn:hover{
    background-color: #009c95;
}
.copy-btn:active{
    background-color: #008c86;
}
.refresh-btn-div, .passtype-div{
    display: inline-block;
    margin-top: 1em;
    width: 49%;
    text-align: center;
}
.passtype-div{
    margin-left: 2%;
}

.refresh-btn{
    padding: 0.7em;
    font-size: 1.1em;
    color: #ffffff;
    font-family: "Poppins";
    border: 2px solid #0385DB;
    background-color: #0385DB;
    border-radius: 5px;
    width: 100%;
}
.refresh-btn:hover{
    background-color: #0079c9;
}
.refresh-btn:active{
    background-color: #0067b2;
}


.refresh-icon{
    margin-left: 0.1em;
}
.strength{
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    margin-top: 0.5em;
    width: 100%;
}
.message-icon{
    margin: 0 0.1em -0.25em 0.25em;
}

@media(max-width: 700px){
    .password-ip{
        width: 100%;
    }
    .password-ip input, .copy-btn{
        font-size: 1.3em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
    .refresh-btn-div, .passtype-div{
        width: 100%;
        margin:0.7em 0 0;
    }
}